#!/bin/sh

set -e

export AWS_ACCESS_KEY_ID="{{ aws_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ aws_secret_key }}"
export AWS_DEFAULT_REGION="{{ aws_region }}"

ansible-galaxy install -r requirements.yml --force

terraform get -update

terraform apply

PROVISION_IP=`terraform output provision_ip`
JUMP_IP=`terraform output jump_ip`
VPC_ID=`terraform output vpc_id`

echo ""
echo "ssh -i {{ aws_private_key }} -f -L 12988:$PROVISION_IP:22 ec2-user@$JUMP_IP -o StrictHostKeyChecking=no sleep 900 <&- >&- 2>&- &"
ssh -i {{ aws_private_key }} -f -L 12988:$PROVISION_IP:22 ec2-user@$JUMP_IP -o StrictHostKeyChecking=no sleep 900 <&- >&- 2>&- &

sleep 10

ansible-playbook provision.yml -i inventory.ini -e "provision_vpc_id=$VPC_ID" --private-key "{{ aws_private_key }}"

terraform remote config -backend=s3 -backend-config="bucket={{ genesis_state_bucket }}" -backend-config="key={{ genesis_state_file }}"

