aws_access_key = "{{ aws_access_key }}"
aws_secret_key = "{{ aws_secret_key }}"
aws_account_id = "{{ aws_account_id }}"
aws_region = "{{ aws_region }}"

state_bucket = "{{ genesis_state_bucket }}"

aws_vpc_name = "{{ aws_vpc_name }}"
aws_keypair_name = "{{ aws_keypair_name }}"
aws_private_key = "{{ aws_private_key }}"

vpc_zone = "{{ aws_zone }}"
vpc_zone_alt = "{{ aws_zone_alt }}"

jump_access_cidr = "{{ genesis_jump_access_cidr }}"


